.p-20{
    padding: 20px;
}
.pt-20{
    padding-top: 20px;
}
.m-20px{
    margin: 20px;
}
.mt-20px{
    margin-top: 20px;
}
.bg-eee{
    background: #eee;
}
.bg-white{
    background: white;
}
.rad-6{
    border-radius: 6px;
}
.flex{
    display: flex;
}